language: generic

matrix:
  include:
    # Linux
    - dist: trusty
      sudo: false

    # OSX
    - os: osx
      osx_image: xcode9

install:
  - eval "$(curl -sL https://swiftenv.fuller.li/install.sh)"
  - ./.ci/install-nanomsg.sh

cache:
    directories:
        - $HOME/.swiftenv
        - $HOME/.nanomsg

script:
  - swift test
